#wave .dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 1px;
    background: white;
    animation: wave 1s linear infinite;
    animation-delay: -0.9s;
  }
  #wave .dot.two {
    animation-delay: -0.7s;
  }
  #wave .dot:nth-child(3) {
    animation-delay: -0.6s;
  }
  
  @keyframes wave {
    0%,
      60%,
      100% {
      transform: initial;
    }
    30% {
      transform: translateY(-10px);
    }
  }
  